div.inRules
    div.uk-width-1-1.rules
        div.uk-container.uk-container-center
            h1.reg RULES
            br
    div.uk-container.uk-container-center(style='padding-top:20px')
        p    Only regular students with same branch and year are allowed to participate and no student from outside the campus are allowed to play.
        p    Player participation should be unique in a team.
        p    Max no of players = 6 (excluding 2 extra players).
        p    5 overs per innings.
        p    Batsman should retire after 20 runs & he can bat after batting of all players in the team according to seniority of retirement.
        p    One bowler can bowl maximum of 2 overs.
        p    1-over batting power play can be taken in any of the 5 overs of an innings.
        p    In batting power-play 2 players are allowed to field inside the circle.
        p    For each wide and no-ball one extra run will be added to the score.
        p    Except LBW, LEG-BYES AND FREE-HIT all other rules are applied.
        p    Opponent team can appeal for suspicious bowling action.
        p    In the finals 2 extra runs will be added for each wide and no-ball.Each over contains 8 balls.
        p    Umpire’s decision is final decision.


|<style>
|.uk-navbar{
|    background-color: green;
|}
|.uk-navbar-toggle{color:lawngreen;}
|.uk-navbar-toggle:hover{color:lawngreen;}
|.rules{
|   background:green;
|   color:white;
|}
|p{margin:12px;font-size:20px;padding:12px}
|<\style>