//vendors
script(type="text/javascript" src="/vendor/jquery/dist/jquery.min.js")
script(type="text/javascript" src="/vendor/angular/angular.js")
script(type="text/javascript" src="/vendor/angular-resource/angular-resource.js")
script(type="text/javascript" src="/vendor/angular-route/angular-route.min.js")
script(type="text/javascript" src="/vendor/angular-toArrayFilter/toArrayFilter.js")
script(type="text/javascript" src="/vendor/ngprogress/build/ngprogress.min.js")
script(type="text/javascript" src="/vendor/uikit/js/uikit.min.js")

//app
script(type="text/javascript" src="/app/app.js")

//ctrl
script(type="text/javascript" src="/app/Main/bMainCtrl.js")
script(type="text/javascript" src="/app/header/bHeaderCtrl.js")
script(type="text/javascript" src="/app/reg/bRegCtrl.js")
script(type="text/javascript" src="/app/gallery/bAboutCtrl.js")
script(type="text/javascript" src="/app/teams/bTeamCtrl.js")
script(type="text/javascript" src="/app/user/bUserCtrl.js")
script(type="text/javascript" src="/app/fixtures/bFixturesCtrl.js")
script(type="text/javascript" src="/app/admin/teams/bTeamCtrlAdmin.js")
script(type="text/javascript" src="/app/admin/addTeam/bAddTeamCtrlAdmin.js")
script(type="text/javascript" src="/app/admin/updateTeam/bUpdateTeamCtrlAdmin.js")
script(type="text/javascript" src="/app/admin/addMatch/bAddMatchCtrlAdmin.js")
script(type="text/javascript" src="/app/admin/updateMatch/bUpdateMatchCtrlAdmin.js")

//svc
script(type="text/javascript" src="/app/teams/bTeamSvc.js")
script(type="text/javascript" src="/app/fixtures/bFixturesSvc.js")
script(type="text/javascript" src="/app/user/bUser.js")
script(type="text/javascript" src="/app/user/bUserSvc.js")
script(type="text/javascript" src="/app/user/bIdentity.js")
script(type="text/javascript" src="/app/admin/teams/bTeamSvcAdmin.js")
script(type="text/javascript" src="/app/admin/addMatch/bAddMatchSvcAdmin.js")
script(type="text/javascript" src="/app/admin/updateMatch/bUpdateMatchSvcAdmin.js")

//analytics
script(type="text/javascript" src="/app/analytics/g.js")

if !!bsUser
    script.
        window.bsUser_obj = !{JSON.stringify(bsUser)};
        console.log('logged in as admin');