div#gallery
    div.regHeader
        h1.reg.uk-vertical-align-middle.uk-container.uk-container-center GALLERY


|<style>
| .uk-navbar{
|     background: black;
| }
| .regHeader{background:black;}
|.uk-navbar-toggle{color:lawngreen;}
|.uk-navbar-toggle:hover{color:lawngreen;}
|<\style>