div#gallery
    div.regHeader
        h1.reg.uk-vertical-align-middle.uk-container.uk-container-center(style='') Admin Console

div.uk-container.uk-container-center(style='padding:50px')
    ul.uk-list.uk-list-space.uk-list-stripped.uk-list-line(style='text-align:center')
        li(style='padding:20px')
            a.uk-button(ng-href='/admin/addTeam') Add Team
        li(style='padding:20px')
            a.uk-button(ng-href='/admin/updateTeam') Update Team
        li(style='padding:20px')
            a.uk-button(ng-href='/admin/addMatch') Add Match Fixture
        li(style='padding:20px')
            a.uk-button(ng-href='/admin/updateMatch') Update Match Fixture

|<style>
| .view{background:#f2f2f4;}
| .uk-navbar{
|     background:maroon;
| }
|.regHeader{background:maroon}
|.uk-navbar-toggle{color:lawngreen;}
|.uk-navbar-toggle:hover{color:lawngreen;}
|<\style>